%h1= @title

%h2 Encounters in report
%table
	%thead
		%tr
			%th.left Name
			%th.left Mode
			%th Players
			%th Attempt
			%th Result
			%th Segments
			%th Duration
	%tbody
		- @encounters.each do |e|
			%tr
				%td.left= link_to(e.boss_name, e)
				%td.left= e.boss_is_heroic ? "Heroic" : "Normal"
				%td= e.player_count
				%td= e.attempt_number
				%td= e.result_code == RESULT_SUCCESS ? "Success" : "Wipe"
				%td= e.segments.count
				%td= Timespan.to_s(e.started_at, e.finished_at)
