- @data.each do |t|
	%tr{:class => cycle("r1", "r2")}
		%td{:colspan => 2, :class => "left first"}
			- if t.source_id != t.unit_id
				!= unit_pet_link(t.source_id, t.source_name) << ":"
			!= spell_link(t.spell_id, t.spell_name, t.spell_school)
		%td.sep= t.num_total.pretty
		%td= t.amount_total.pretty
		%td.sep= t.num_hits.pretty
		%td= t.amount_total > 0 ? Uptime.percent(t.amount_hits, t.amount_total, 0) : "-"
		%td= t.amount_hits.pretty
		%td.sep= t.num_crits.pretty
		%td= t.amount_total > 0 ? Uptime.percent(t.amount_crits, t.amount_total, 0) : "-"
		%td= t.amount_crits.pretty
		%td= t.num_absorbs.pretty
		%td= t.amount_absorbs.pretty
		%td= t.num_blocks.pretty
		%td= t.amount_blocks.pretty
		%td= t.num_misses.pretty
		%td= t.num_dodges.pretty
		%td= t.num_parries.pretty
		%td= t.num_glancings.pretty