<h1>Editing boss</h1>

<% form_for(@boss) do |f| %>
  <%= f.error_messages %>

  <p>
    <%= f.label :zone_id %><br />
    <%= f.text_field :zone_id %>
  </p>
  <p>
    <%= f.label :seq %><br />
    <%= f.text_field :seq %>
  </p>
  <p>
    <%= f.label :name %><br />
    <%= f.text_field :name %>
  </p>
  <p>
    <%= f.submit 'Update' %>
  </p>
<% end %>

<%= link_to 'Show', @boss %> |
<%= link_to 'Back', bosses_path %>